//- Variables
include config/_site
include config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'index.html'
- page[ 'title' ] 		= 'title'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [ 'home' ]
- page[ 'print' ]       = [  ]


doctype
html(lang=page.lang)
	include template/_head
	body
		.page
			include template/_header

			

			include template/_footer
		
		#js
			include template/_scripts
